{% extends "base.html" %}

{% block content %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus saepe ad incidunt cum ea voluptatibus corrupti repellat voluptates minima. Obcaecati quo quis eum ut voluptate dicta, corrupti fugit itaque. Veniam.
Dolor odit maiores ipsam impedit quas cumque ullam porro nesciunt. Natus tenetur, sint qui similique odit architecto ipsa, est in eius eum autem quibusdam voluptatem optio unde facilis labore ex!
Ipsum, sequi nihil? Ab nam nostrum quam reprehenderit impedit delectus ad at totam fugiat nesciunt facilis quis, numquam cum ipsam vel laboriosam illo voluptates, tempore molestias? Sed deserunt magnam est.</p>
{% endblock %}