<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-bishan-yuse navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Everything about Soybean</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse", id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/Document" class="nav-link">Document</a></li>
                    <li class="nav-item"><a href="/AboutUs" class="nav-link">About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="../static/bootstrap.bundle.min.js"></script>
</body>
</html>