{% extends "base.html" %}

{% block content %}
<h1 class="center">Document</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur blanditiis iure autem perferendis repudiandae necessitatibus sunt cumque assumenda veritatis est facilis vero illum asperiores a adipisci explicabo cupiditate, numquam suscipit.
Sed nam omnis dolorem vero fuga nisi id assumenda fugit illo placeat unde magnam aspernatur blanditiis atque in doloribus voluptas delectus, doloremque fugiat similique rerum perspiciatis architecto? Fugit, quas architecto.
Distinctio eaque, porro, velit laboriosam adipisci cum autem vel officia, animi atque rem. Quis explicabo ratione qui beatae ad inventore expedita enim quibusdam hic, minus sit, modi corporis odit pariatur.</p>
{% endblock %}