{% extends "base.html" %}

{% block content %}
  <form action="/submit" method="POST">
    <div class="container my-5">
    <!-- Text input -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="inputText" name="inputText">
      <label for="floatingInput">ID</label>
    </div>

    <!-- Select input -->
    <div class="table-responsive mb-3">
      <table class="table table-checkable">
          <tr>
            <td><input class="form-check-input" type="checkbox" name="options" id="checkall" value="all" data-bs-toggle="checkbox"> ALL</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="1" data-bs-toggle="checkbox"> MG</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="2" data-bs-toggle="checkbox"> ST</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="3" data-bs-toggle="checkbox"> FC</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="4" data-bs-toggle="checkbox"> P_CLR</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="5" data-bs-toggle="checkbox"> P_FRM</td>

          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" name="options" value="6" data-bs-toggle="checkbox"> P_DENS</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="7" data-bs-toggle="checkbox"> POD</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="8" data-bs-toggle="checkbox"> SC_L</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="9" data-bs-toggle="checkbox"> SC_CLR</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="10" data-bs-toggle="checkbox"> H_CLR</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="11" data-bs-toggle="checkbox"> protein</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" name="options" value="12" data-bs-toggle="checkbox"> oil</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="13" data-bs-toggle="checkbox"> Linoleic</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="14" data-bs-toggle="checkbox"> Linolenic</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="15" data-bs-toggle="checkbox"> eno</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="16" data-bs-toggle="checkbox"> R1</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="17" data-bs-toggle="checkbox"> R8</td>
          </tr>
          <tr>
            <td><input class="form-check-input" type="checkbox" name="options" value="18" data-bs-toggle="checkbox"> Hgt</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="19" data-bs-toggle="checkbox"> Mat</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="20" data-bs-toggle="checkbox"> Ldg</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="21" data-bs-toggle="checkbox"> SQ</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="22" data-bs-toggle="checkbox"> SdWgt</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="23" data-bs-toggle="checkbox"> Yield</td>
          </tr>
      </table>
    </div>

    <script src="//cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      $(function () {
          // 全选
          $('#checkall').click(function () {
              $('input[name=options]').prop('checked', this.checked);
          });
        });
    </script>



    <!-- Button to submit -->
    <button type="submit" class="btn btn-dark">Submit</button>

    <!-- Show results -->
    {% if results %}
    <table class="table table-responsive table-hover my-5">
      <thead>
        <th scope="row">Search Results of {{ ID }}:</th>
        <tr>
          <th>Trait</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result.trait }}</td>
            <td>{{ result.value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    </div>
  </form>


{% endblock %}