{% extends "base.html" %}

{% block content %}
<link href="../static/fileinput.min.css" rel="stylesheet" />
<script src="//cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="../static/fileinput.min.js" type="text/javascript"></script>


<form action="/Predict" method="POST">
    <div class="container my-5">
    <div class="file-loading">
        <input id="file" name='file' type="file" multiple class="file" accept=".vcf" data-preview-file-type="text"> 
    </div>


    <script>
        $("#file").fileinput({
            minFileCount:1,
            maxFileCount:1,
            uploadUrl: "/upload",
            showPreview:false,
            allowedFileExtensions: ["vcf"],
            browseOnZoneClick:true,
        });    
    </script>

    <div class="table-responsive mb-3">
        <table class="table table-checkable">
            <tr>
            <td><input class="form-check-input" type="checkbox" name="options" id="checkall" value="all" data-bs-toggle="checkbox"> ALL</td>

            <td><input class="form-check-input" type="checkbox" name="options" value="1" data-bs-toggle="checkbox"> MG</td>  
            
            <td><input class="form-check-input" type="checkbox" name="options" value="2" data-bs-toggle="checkbox"> ST</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="3" data-bs-toggle="checkbox"> FC</td>  
            
            <td><input class="form-check-input" type="checkbox" name="options" value="4" data-bs-toggle="checkbox"> P_CLR</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="5" data-bs-toggle="checkbox"> P_FRM</td>
            
            </tr>
            <tr>
            <td><input class="form-check-input" type="checkbox" name="options" value="6" data-bs-toggle="checkbox"> P_DENS</td>  
            
            <td><input class="form-check-input" type="checkbox" name="options" value="7" data-bs-toggle="checkbox"> POD</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="8" data-bs-toggle="checkbox"> SC_L</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="9" data-bs-toggle="checkbox"> SC_CLR</td>  
            
            <td><input class="form-check-input" type="checkbox" name="options" value="10" data-bs-toggle="checkbox"> H_CLR</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="11" data-bs-toggle="checkbox"> protein</td>
            </tr>
            <tr>
            <td><input class="form-check-input" type="checkbox" name="options" value="12" data-bs-toggle="checkbox"> oil</td>  
            
            <td><input class="form-check-input" type="checkbox" name="options" value="13" data-bs-toggle="checkbox"> Linoleic</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="14" data-bs-toggle="checkbox"> Linolenic</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="15" data-bs-toggle="checkbox"> eno</td>  
            
            <td><input class="form-check-input" type="checkbox" name="options" value="16" data-bs-toggle="checkbox"> R1</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="17" data-bs-toggle="checkbox"> R8</td>  
            </tr>
            <tr>
            <td><input class="form-check-input" type="checkbox" name="options" value="18" data-bs-toggle="checkbox"> Hgt</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="19" data-bs-toggle="checkbox"> Mat</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="20" data-bs-toggle="checkbox"> Ldg</td> 
            
            <td><input class="form-check-input" type="checkbox" name="options" value="21" data-bs-toggle="checkbox"> SQ</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="22" data-bs-toggle="checkbox"> SdWgt</td>
            
            <td><input class="form-check-input" type="checkbox" name="options" value="23" data-bs-toggle="checkbox"> Yield</td>
            </tr>
        </table>

        <a id="predict" href="/Predict"><button class="btn btn-outline-primary mb-3">Predict</button></a>
        <div class="progress" id="predictProgress" style="display:none">
            <div id="progress-bar" class="progress-bar progress-bar-striped bg-success progress-bar-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><p id="title"></p></div>
        </div>
    </div>

        {% if not df.empty %}
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  {% for col in col_names %}
                  <th>{{ col }}</th>
                  {% endfor %}
                </tr>
              </thead>
                <tbody>
                    {% for row in df.iterrows() %}
                    <tr>
                    {% for col in row[1] %}
                    <td>{{ col }}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% if page > 1 %}
                <a class="btn btn-outline-primary" href="/pageprev">Prev</a>
                {% endif %}

                {% if page < total_pages %}
                <a class="btn btn-outline-primary" href="/pagenext">Next</a>
                {% endif %}
            <a class="btn btn-outline-primary" id="download" href="/download">Download</a>
        {% endif %}
</div>

    <script src="//cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(function () {
            // 全选
            $('#checkall').click(function () {
                $('input[name=options]').prop('checked', this.checked);
            });
        });
    </script>


    <script>
      var title = document.querySelector('#title');
      var progressBar = document.querySelector('#progress-bar');
      var progressInterval;

      $(function() {
        $('#predict').click(function() {
          document.querySelector('#predictProgress').style.display = "block";
          progressInterval = setInterval(function() {
            fetch('/progress')
              .then(res => res.json())
              .then(data => {
                updateProgress(data);
                if (data.predict_finish) {
                  clearInterval(progressInterval);
                }
              });
          }, 500);
        });
      });

      function updateProgress(data) {
        progressBar.style.width = data.progress;  // 更新进度条的宽度
        title.textContent = data.title;
        if (data.predict_finish) {
          // Prediction is complete, stop updating
          clearInterval(progressInterval);
        }
      }
    </script>

    <script>
    $('#download').on('click', function(e) {
      e.preventDefault()  // 阻止默认行为

      fetch('/download')  // 发起 GET 请求
        .then(res => {
          if (res.ok) {  // 如果请求成功
            return res.blob()  // 返回 Blob 数据
          }
        })
        .then(blob => {
          const url = window.URL.createObjectURL(blob)  // 创建 Blob URL
          const a = document.createElement('a')
          a.href = url
          a.download = 'predict.csv'  // 文件名
          a.click()  // 模拟点击触发文件下载

          // 释放内存
          setTimeout(() => {
            window.URL.revokeObjectURL(url)
          }, 100)
        })
    })
</script>


</form>

{% endblock %}